.poppins-700 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
}

.poppins-600 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
}
.poppins-500 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
}
